.headingDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.orderSorting{
    width: 200px;
    margin-top: 0 !important;
    padding: 9px 5px !important;
}
.orders{
    margin-top: 40px;
}
.completedBtn{
 padding: 13px 30px;
 color: white;
 background: #00AB66;
border-radius: 8px;
}
.paginationDiv{
    text-align: right;
    margin-top: 40px;
} 

@media only screen and (max-width:576px) {
    .headingDiv{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
         
    }
    .orderBtns button{
        
        margin-right: 10px;
    }
    .orderId{
  
        margin-top: 30px;

    }
    
}