
.mutedText{
    color: #AC9EA3;
}
.calenderLeftArrow{
    
    position: absolute;
    top: 7%;
    left: 2%;
    cursor: pointer !important; 
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    color: white;
    z-index: 500;
}
.calenderRightArrow{
    position: absolute;
    top: 7%;
    right: 2%;
    cursor: pointer !important; 
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    color: white;
    z-index: 500;
}
.calenderLeftArrow:hover, .calenderRightArrow:hover{
    background-color: rgba(128, 128, 128, 0.555);
}